In [2]:
# Import Dependencies
import pandas as pd

In [3]:
# Import Datasets
gp_age = pd.read_csv('Data/Age by Nativity.csv', usecols=['Age','Year','Birthplace'])
gp_veterans = pd.read_csv('Data/Veterans.csv', usecols=['Period of Service', 'Year', 'Veterans', 'Geography'])

In [4]:
# Filter the dataset to only include Grants Pass
gp_veterans = gp_veterans.loc[gp_veterans['Geography'] == 'Grants Pass, OR'] 
gp_veterans.head()

  Period of Service  Year  Veterans        Geography
5  Gulf War (2001-)  2020       681  Grants Pass, OR
6  Gulf War (1990s)  2020       479  Grants Pass, OR
7           Vietnam  2020       711  Grants Pass, OR
8             Korea  2020       311  Grants Pass, OR
9      World War II  2020       226  Grants Pass, OR

In [16]:
# Export to csv
gp_veterans.to_csv('gp_veterans.csv')

In [10]:
gp_age.head()

              Age  Year  Birthplace
0   Under 5 Years  2020        2009
1   5 to 17 Years  2020        6702
2  18 to 24 Years  2020        3361
3  25 to 34 Years  2020        4998
4  35 to 44 Years  2020        4508